body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

#getSetup {
    color: red;
    font-weight: bold;
    animation: blink 1s infinite;
}

#getPunchline {
    color: green;
}

h2, h3 {
    margin: 10px 0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

